*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ---- Nav Bar ---- */
nav{
  padding: 0;
  background-color: #036937;
  font-family: 'Roboto', sans-serif;
  border-top: 3px solid #F2A900;
  border-bottom: 3px solid #F2A900;
}

/* Nav Bar Links */
nav a{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.menu, .toggle, .subitem{
  list-style: none;
}

/* Full Width */
@media all and (min-width: 1024px){
  .item{
    position: relative;
    display: block;
    width: auto;
    padding: 10px 20px 10px 20px;
  }
  
  .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu li a{
    display: block;
    padding: 15px 5px;
  }
  
  .menu li.subitem a{
    padding: 15px;
  }
  
  .toggle{
    display: none;

  }

  .item:hover{
    background: #F2A900;
    color: #036937;
  }
  /* Dropdown Menu */
  /* aligns MENS WOMENS at top */
  .submenu{
    width: 100vw;
    position: absolute; /* keeps it below nav */
    top: 77px;
    left: 0;
    background-color: #F2F2F2;
    padding: 40px 0 40px 0;
  }
  
  .submenu ul{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: text-top;
  }
  
  .mens-sports,
  .womens-sports{
    width: 45%
  }
  
  .subitem{
    border-bottom: 1px solid #E5E5E5;
  }
  
  .title a{
    color: #036937;
  }
  .subtitle a{
    color: #6A6D70;
    text-transform: uppercase;
  }
}

/* Mobile Width */
@media all and (max-width: 1024px){
  .toggle{
    float: right;
    padding: 10px 20px 10px 20px;
    display: block;
    padding: 10px 20px 10px 20px;
  }

  .item{
    display: none;
  }

}